version: '3'

services:
  web:
    image: windy007008/note-web-3:latest
    restart: always
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=production
      - FLASK_SECRET_KEY=${FLASK_SECRET_KEY:-your-secret-key}
    volumes:
      - ./instance:/app/instance:rw
      - /etc/letsencrypt/live/windy.run/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - /etc/letsencrypt/live/windy.run/privkey.pem:/etc/ssl/certs/privkey.pem:ro
      # - type: bind
      #   source: ./static
      #   target: /app/static
      # - type: bind
      #   source: ./templates
      #   target: /app/templates
      # - type: bind
      #   source: ./app.py
      #   target: /app/app.py
    command: ["gunicorn", 
              "--workers", "4",
              "--timeout", "120",
              "--keep-alive", "5",
              "--max-requests", "1000",
              "--max-requests-jitter", "50",
              "--log-level", "debug",        # 改为 error/debug 级别
              "--access-logfile", "-",
              "--error-logfile", "-",
              # "--certfile", "/etc/ssl/certs/fullchain.pem",  # 添加 SSL 证书配置

              # "--keyfile", "/etc/ssl/certs/privkey.pem",     # 添加 SSL 密钥配置
              "--bind", "0.0.0.0:5000",
              "--access-logformat", "%(h)s %(l)s %(u)s %(t)s '%(r)s' %(s)s %(b)s '%(f)s' '%(a)s'",  # 添加自定义日志格式
              "app:app"]

volumes:
  instance:
